/* __Подключение шрифтов */
@font-face {
	font-family: "Arial-narrow";
	src: url("../fonts/arial-narrow-light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Arial-narrow-bold";
	src: url("../fonts/arial-narrow-bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica-condensed";
	src: url("../fonts/helvetica-condensed-light.eot");
	src: url("../fonts/helvetica-condensed-light.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/helvetica-condensed-light.woff") format("woff"),
		 url("../fonts/helvetica-condensed-light.ttf") format("truetype"),
		 url("../fonts/helvetica-condensed-light.svg#helvetica-condensed-light") format("svg");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica-condensed-bold";
	src: url("../fonts/helvetica-condensed-bold.eot");
	src: url("../fonts/helvetica-condensed-bold.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/helvetica-condensed-bold.woff") format("woff"),
		 url("../fonts/helvetica-condensed-bold.ttf") format("truetype"),
		 url("../fonts/helvetica-condensed-bold.svg#helvetica-condensed-bold") format("svg");
	font-weight: bold;
	font-style: normal;
}



/* 0.0__Сброс стилей по умолчанию */
*{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

h1,
h2,
h3{
	font-weight: normal;
}

input[type="submit"],
input[type="button"],
input[type="file"],
input[type="reset"]{
	border: none;
}



/* 0.1__Общие стили для всего документа */
body{
	font-family: "Arial", "sans-serif";
	font-size: 12px;
	line-height: 1.583em;
}

.center-wrapper{
	max-width: 930px;
	margin: 0 auto;
}

.clearfix{
	display: block;
}

	.clearfix:before,
	.clearfix:after{
		display: block;
		content: "";
		clear: both;
	}



/* оформление ссылок-кнопок */
.button{
	display: inline-block;
	float: right;
	font-size: 11px;
	padding: 2px 7px;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.button_black{
	background: #1d1d1d;
}

.button_black:hover,
.button_black:focus{
	background: #4d4d4d;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.button_red{
	background: #cd4007;
}

.button_red:hover,
.button_red:focus{
	background: #ba5b39;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}



.container_top{
	padding-bottom: 25px;
	background: -webkit-linear-gradient(top, #e8e4c0, #f9f7db 10%, #f9f7db);
	background: linear-gradient(to bottom, #e8e4c0, #f9f7db 10%, #f9f7db);
}



.b-presentation{
	position: relative;
	float: left;
	margin-right: 22px;
	padding-left: 75px;
}

	.b-transform-title{
		position: absolute;
		z-index: 3;
		color: #b5b17e;
		-webkit-transform: rotate(-90deg) translate(-339px, -377px);
		transform: rotate(-90deg) translate(-339px, -377px);
	}

	.b-transform-title__heading{
		font-size: 34px;
		font-family: "Arial-narrow";
		word-spacing: -0.05ex;
		white-space: nowrap;
	}

		.b-transform-title__img{
			position: relative;
			bottom: -6px;
			margin-left: 17px;
		}

		.b-transform-title__logo{
			position: relative;
			bottom: -1px;
			display: inline-block;
			font-family: "Helvetica-condensed";
			letter-spacing: -3px;
			font-size: 2.205em;
			text-transform: lowercase;
			-webkit-transform: scaleX(1.05);
			transform: scaleX(1.05);
		}

	.b-column-container{
		display: table;
	}

		.b-column-container__content{
			display: table-row;
		}

			.b-column{
				display: table-cell;
				position: relative;
				max-width: 167px; /* полная ширина = 214px */
				padding: 320px 26px 70px 23px;
			}

			.b-column_separate{
				display: table-cell;
				width: 1px;
				background: transparent;
			}

			.b-column_about{
				color: #f8d85e;
				background: #cd4007; /* для более старых браузеров */
				background: url("../img/tomato.png") 50% 107px no-repeat, url("../img/background-logo.png") no-repeat, -webkit-linear-gradient(top, #f2944d, #fee15e 220px, #cd4007 220px);
				background: url("../img/tomato.png") 50% 107px no-repeat,
							url("../img/background-logo.png") no-repeat,
							linear-gradient(to bottom, #f2944d, #fee15e 220px, #cd4007 220px);
			}

				.b-column_about__heading{
					font-size: 26px;
					line-height: 0.5em;
					margin-bottom: 1em;
					text-transform: capitalize;
					color: #fefefe;
				}

				.b-column_about__article{
					margin-top: 2.1em;
				}

				.b-column_about__strong{
					color: #ffe996;
				}

				.b-column_about__mark{
					background: #9f3105;
					color: #f8d85e;
				}

				.b-column_about__label-button{
					position: absolute;
					top: 0;
					right: 0;
					width: 47px;
					height: 32px; /* полная высота = 92px */
					padding-top: 60px;
					color: #646464;
					font-size: 12px;
					line-height: 1em;
					text-align: center;
					text-transform: capitalize;
					font-weight: bold;
					border-bottom-left-radius: 3px;
					background: #fff url("../img/icon-home.png") no-repeat 50% 21px; /* для более старых браузеров */
					background: url("../img/icon-home.png") no-repeat 50% 21px, -webkit-linear-gradient(top, #fff, #f3f2dc);
					background: url("../img/icon-home.png") no-repeat 50% 21px,
								linear-gradient(to bottom, #fff, #f3f2dc);
				}

				.b-column_about__label-button:hover,
				.b-column_about__label-button:focus{
					background: url("../img/icon-home.png") no-repeat 50% 21px, -webkit-linear-gradient(top, #fff, #e7e6d6);
					background: url("../img/icon-home.png") no-repeat 50% 21px,
								linear-gradient(to bottom, #fff, #e7e6d6);
				}


			.b-column_events{
				color: #f2ff9a;
				background: #9fb31a; /* для более старых браузеров */
				background: url("../img/kiwi.png") no-repeat 50% 93px, url("../img/background-logo.png") no-repeat, -webkit-linear-gradient(top, #e5ef7e, #fceb63 220px, #9fb31a 220px);
				background: url("../img/kiwi.png") no-repeat 50% 93px,
							url("../img/background-logo.png") no-repeat,
							linear-gradient(to bottom, #e5ef7e, #fceb63 220px, #9fb31a 220px);
				}

				.b-column_events__heading{
					font-size: 26px;
					line-height: 0.5em;
					margin-bottom: 1em;
					text-transform: capitalize;
					color: #fefefe;
				}

				.b-column_events__article{
					margin-top: 2.1em;
				}

				.b-column_events__strong{
					color: #fbec73;
				}

				.b-column_events__mark{
					background: #75850e;
					color: #f2ff9a;
				}

				.b-column_events__label-button{
					position: absolute;
					top: 0;
					right: 0;
					width: 47px;
					height: 32px; /* полная высота = 92px */
					padding-top: 60px;
					color: #646464;
					font-size: 12px;
					line-height: 1em;
					text-align: center;
					text-transform: capitalize;
					font-weight: bold;
					border-bottom-left-radius: 3px;
					background: #fff url("../img/icon-human.png") no-repeat 50% 21px; /* для более старых браузеров */
					background: url("../img/icon-human.png") no-repeat 50% 21px, -webkit-linear-gradient(top, #fff, #f0efda);
					background: url("../img/icon-human.png") no-repeat 50% 21px,
								linear-gradient(to bottom, #fff, #f0efda);
				}

				.b-column_events__label-button:hover,
				.b-column_events__label-button:focus{
					background: url("../img/icon-human.png") no-repeat 50% 21px, -webkit-linear-gradient(top, #fff, #e7e6d6);
					background: url("../img/icon-human.png") no-repeat 50% 21px,
								linear-gradient(to bottom, #fff, #e7e6d6);
				}

				.b-column_events__date{
					font-weight: bold;
					text-transform: capitalize;
				}



.b-navigation{
	float: left;
	max-width: 400px;
	padding-top: 23px;
}

	.b-main-menu__nav{
		float: left;
		width: 190px;
		margin-left: 4px;
		margin-right: 35px;
	}

	.b-main-menu__item{
		max-width: 166px; /* полная ширина = 190px */
		padding: 3px 10px 3px 14px;
		border-bottom: 1px dotted #b1ae7e;
	}

	.b-main-menu__item:last-child{
		border-bottom: none;
	}

		.b-main-menu__link{
			text-transform: capitalize;
			font-weight: bold;
			color: #636038;
		}

		.b-main-menu_link:hover,
		.b-main-menu_link:focus{
			text-decoration: underline;
		}

	.b-promo{
		float: right;
		width: 156px;
		padding: 20px 6px 0px 7px;
		background: #f7f6eb;
		border: 1px solid #dad6ae;
		font-family: "Arial-narrow";
		text-align: center;
		font-size: 30px;
		line-height: 1em;
	}

	.b-promo:hover{
		opacity: 0.8;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}

		.b-promo__heading{
			text-transform: capitalize;
		}

		.b-promo__big-text{
			font-size: 40px;
			font-family: "Helvetica-condensed-bold";
			text-transform: uppercase;
			color: #cb3e07;
		}

		.b-promo__link{
			color: #1d1d1d;
		}

		.b-promo__slide{
			margin: 20px auto 2px auto;
		}

	.b-quotes{
		margin-top: 25px;
	}

		.b-quotes__heading{
			position: relative;
			font-size: 34px;
			line-height: 0.5em;
			margin-bottom: 0.9em;
			color: #cb3e07;
		}

		.b-quotes__heading:before{
			content: url("../img/quotes-headiing-icon.png");
			position: relative;
			display: block;
			float: left;
			width: 45px;
			height: 45px;
			top: -8px;
			margin-right: 10px;
		}

		.b-quotes__item{
			padding: 5px 10px 4px 10px;
			margin-bottom: 3px;
			background: #fefceb;
			color: #3b3a2b;
			border-radius: 3px;
		}

		.b-quotes__item:before{
			content: url("../img/quotes-item-marker.png");
			position: relative;
			top: -2px;
			margin-right: 10px;
		}

	.b-users-blocks{
		margin-top: 25px;
	}

		.b-users-blocks__block{
			position: relative;
			float: left;
			width: 111px; /* полная ширина = 125px */
			height: 39px;
			padding: 30px 7px;
			margin-right: 9px;
			background: #fefefd;
			border: 1px solid #dad6ae;
			font-size: 10px;
			line-height: 1.2em;
			color: #a8a8a8;
		}

		.b-users-blocks__block:last-of-type{
			margin-right: 0;
		}

			.b-users-blocks__link{
				font-size: 24px;
				font-family: "Helvetica-condensed";
				text-transform: uppercase;
				color: #cb3e07;
			}

			.b-users-blocks__icon{
				float: left;
				margin-top: -9px;
				margin-right: 6px;
			}

			.b-users-blocks__progress-bar{
				position: absolute;
				width: 115px;
				height: 17px;
				bottom: 5px;
				left: 5px;
				background-color: #f4f1da;
				background-image: -webkit-repeating-linear-gradient(315deg, transparent, transparent 2px, #f2eed4 2px, #f2eed4 3px, #faf8ee 3px, #faf8ee 4px, #f2eed4 4px, #f2eed4 5px);
				background-image: repeating-linear-gradient(135deg, transparent, transparent 2px, #f2eed4 2px, #f2eed4 3px, #faf8ee 3px, #faf8ee 4px, #f2eed4 4px, #f2eed4 5px);
			}

	.b-subs{
		margin-top: 25px;
		padding: 8px 29px 18px 113px;
		background: #fefefd url("../img/background-newsletter.png") no-repeat 0 0;
		border: 1px solid #dad6ae;
		border-radius: 4px;
		font-size: 18px;
		line-height: 1.5em;
	}

		.b-subs__label{
			text-transform: capitalize;
		}

		.b-subs__input{
			width: 195px;
			padding: 2px 5px;
			font-size: 11px;
			border-top: 1px solid #808080;
			border-left: 1px solid #808080;
			border-bottom: 1px solid #d4d0c8;
			border-right: 1px solid #d4d0c8;
			box-shadow: 1px 1px 0 0px #000 inset;
		}

		.b-subs__submit{
			position: relative;
			top: 4px;
			width: 41px;
			padding: 4px 0;
			font-size: 11px;
			text-align: center;
		}



.container_second{
	padding-top: 18px;
	padding-bottom: 21px;
	background: #e7e4c0; /* для более старых браузеров */
	background: -webkit-linear-gradient(top, #e5e1bc 1px, #e7e4c0 4px, #e7e4c0);
	background: linear-gradient(to bottom, #e5e1bc 1px, #e7e4c0 4px, #e7e4c0);
	border-top: 1px solid #dedbb1;
}

	.b-features{
		float: left;
		width: 470px; /* полная ширина = 530px */
		padding: 0 30px;
		padding-top: 8px;
		color: #575433;
	}

		.b-features__heading{
			font-size: 34px;
			color: #1d1d1d;
			margin-bottom: 0.45em;
		}

		.b-features__heading:before{
			content: url("../img/icon-features.png");
			position: relative;
			margin-right: 6px;
			top: 6px;
			left: -4px;
		}

		.b-features__strong{
			color: #8da00d;
		}

	.b-login-form{
		float: left;
		width: 202px;
		padding-bottom: 24px;
		background: #f1eed0;
		border: 1px solid #d7d3aa;
		font-size: 10px;
		line-height: 1.6em;

	}

		.b-login-form__header{
			position: relative;
			padding-left: 33px;
			text-align: left;
			font-size: 18px;
			line-height: 1.89em;
			text-transform: capitalize;
			background: #fbfaec;
		}

			.b-login-form__header:before{
				position: absolute;
				content: url("../img/icon-login-form-heading.png");
				top: 50%;
				margin-top: -14px;
				left: 12px;
			}

		.b-login-form__content{
			padding: 0 17px;
			margin-top: 7px;
		}

		.b-login-form__label{
			text-transform: capitalize;
		}

		.b-login-form__input{
			display: block;
			width: 156px;
			margin-top: 2px;
			margin-bottom: 6px;
			padding: 2px 5px;
			border-top: 1px solid #808080;
			border-left: 1px solid #808080;
			border-right: 1px solid #d4d0c8;
			border-bottom: 1px solid #d4d0c8;
			box-shadow: 1px 1px 0 0px #000 inset;
		}

		.b-login-form__link{
			font-size: 11px;
			vertical-align: middle;
			text-decoration: underline;
			font-weight: bold;
			color: #9fb31a;
		}

	.b-contacts{
		float: left;
		margin-left: 20px;
	}

		.b-contacts__phone{
			font-family: "Arial-Narrow", "Arial", "sans-serif";
			font-size: 26px;
			line-height: 2em;
			color: #1d1d1d;
		}

			.b-contacts__phone:before{
				content: url("../img/icon-phone.png");
				margin-right: 10px;
			}

.b-footer{
	padding-top: 25px;
	padding-bottom: 24px;
	text-align: center;
	color: #e9e6c3;
	background: #333333; /* для более старых браузеров */
	background: -webkit-linear-gradient(top, #242424, #414141);
	background: linear-gradient(to bottom, #242424, #414141);
}


	.b-footer-navigaton__item{
		display: inline-block;
		font-size: 11px;
	}

		.b-footer-navigaton__item:after{
			content: "  | ";
			color: #d5d5d5;
		}

	.b-footer-navigaton__item:last-child:after{
		display: none;
	}

		.b-footer-navigaton__link{
			text-transform: capitalize;
			color: #d5d5d5;
		}

		.b-footer-navigaton__link:hover,
		.b-footer-navigaton__link:focus{
			text-decoration: underline;
		}

	.b-footer__copyright{
		margin-bottom: 0.8em;
		color: #9fb31a;
		font-size: 10px;
		line-height: 2.4em;
	}

	.b-footer__button{
		float: none;
		margin: 0 4px;
		margin-bottom: 0.8em;
	}

	.b-footer__strong{
		text-transform: capitalize;
	}

	.b-footer__mark{
		color: #fff;
		background: #252525;
	}
